input.btn {
    display:block;
    padding:10px;
	margin:5px;
	float:left;
    border-color:lime;
}
input {
    border-style:dashed;
    position:relative;
    z-index:100;
}
iframe {
    position:absolute;
    padding:10px;
    bottom:0px;
    left:0px;
    border-style:none;
    max-height:100%;
    width:100%;
}
* {
    background-color:black;
    color:lime;
    font-family:lucida console;
}